<div class="container">
  <div class="row">
    <div class="col-md-offset-5 col-md-3">
      <div class="form-login">
        <form>
          <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" #username/>
          <br>
          <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" #password/>
          <br>
          <div class="wrapper">
            <span class="group-btn">
                <a href="#" class="btn btn-primary btn-md"(click)="login(username, password)">login <i class="fa fa-sign-in"></i></a>
            </span><br>
            <span class="alert-danger">{{errorMsg}}</span>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>
